@media (min-width: 1200px) {
  .carousel-image {
    max-height: 600px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .carousel-image {
    max-height: 600px;
  }
}

@media (max-width: 767px) {
  .carousel-image {
    max-height: 400px;
  }
}

.tab-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
  position: relative;
}

.tab {
  padding: 10px 20px;
  margin-right: 10px;
  border-bottom: 2px solid transparent;
  transition: background-color 0.3s #ccc;
}

.tab:hover {
  color: red;
  background-color: #f0f0f0;
}

.active-tab {
  color: blue;
  border-bottom: 2px solid blue;
  position: relative;
  top: 2px;
}

body {
  background: #EEEEEE;
  margin: 0;
  padding: 0;
  height: 95vh;
}

.lazy-load {
  opacity: 0;
  transform: translateY(20px); 
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.lazy-load.visible {
  opacity: 1;
  transform: translateY(0);
}
